<p>
  <%= @calendar_month.year %>年<%= @calendar_month.month %>月
</p>

<table border='1'>
  <tr>
    <th>月</th>
    <th>火</th>
    <th>水</th>
    <th>木</th>
    <th>金</th>
    <th>土</th>
    <th>日</th>
  </tr>
  <% @calendar_month.weeks.each do |week| %>
    <tr>
      <% week.each do |day_instance| %>
        <td>
          <% if day_instance %>
            <%= day_instance.day %>日
            <%= form_for day_instance do |f| %>
              <%= f.label :scheduled, '予定' %>
              <%= f.text_field :scheduled, size: 3 %>
            <% end %>
            <%= form_for day_instance do |f| %>
              <%= f.label :result, '実績' %>
              <%= f.text_field :result, size: 3 %>
            <% end %>

            <%= form_for day_instance do |f| %>
              <%= f.label :temporary_holiday, '稼働対象外日' %>
              <%= f.check_box :temporary_holiday %>
            <% end %>
          <% end %>
        </td>
      <% end %>
    </tr>
  <% end %>
</table>

<p>
  基準時間: <%= @calendar_month.calendar.base_hours %>時間
</p>
<p>
<!-- TODO: 基準を超えていないときは赤くする. 超えているときは緑色にする -->
  予定の合計: <%= @calendar_month.scheduled_sum %>時間
</p>
<p>
  実績の合計: <%= @calendar_month.result_sum %>時間
</p>

<hr>

<p>
  実績が未入力の予定を再計算する
</p>
