<p>
  <%= @calendar_month.year %>年<%= @calendar_month.month %>月
</p>

<table border='1'>
  <tr>
    <th>月</th>
    <th>火</th>
    <th>水</th>
    <th>木</th>
    <th>金</th>
    <th>土</th>
    <th>日</th>
  </tr>
  <% @calendar_month.weeks.each do |week| %>
    <tr>
      <% week.each do |day_instance| %>
        <td>
          <% if day_instance %>
            <%= day_instance.day %>日
            <%= form_for day_instance do |f| %>
              <%= f.label :scheduled, '予定' %>
              <%= f.text_field :scheduled, size: 3 %>
            <% end %>
            <%= form_for day_instance do |f| %>
              <%= f.label :result, '実績' %>
              <%= f.text_field :result, size: 3 %>
            <% end %>
          <% end %>
        </td>
      <% end %>
    </tr>
  <% end %>
</table>
