<h1>カレンダーを編集する</h1>
<% if @calendar.errors.any? %>
  <div class = "alert">
    <ul>
      <% @calendar.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
    </ul>
  </div>
<% end %>

<%= form_for @calendar do |f| %>
  <p>
    <%= f.label :name %>
  <%= f.text_field :name %>
  </p>

  <p>
    <%= f.label :base_hours, '基準時間' %>
  <%= f.text_field :base_hours %>
  </p>
  <%= f.submit %>
<% end %>
